extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        h2.name Jordan Mor
        p.lead.text-light
          | Front-end developer with additonal back-end skills
          
        .portfolio-bio
          p
            | Hi! I'm a software developer who loves building and working with RESTful APIs and web-based applications.
            | I'm currently concentrating on using the MERN (MongoDB, Express, React, Node.js) stack,
            | though I have experience building web apps with SQL databases as well.
            | I'm also currently trying to incorporate CSS Grid & Flexbox into most of my projects,
            | though I'm also comfortable using CSS frameworks such as Bootstrap.
            | I'm a self-motivated, lifelong learner committed to constantly improving my skills
            | and staying current on developments and trends in the industry. 
          p
            | Please check out some of my portfolio projects which show my proficiency in JavaScript, 
            | React, Node.js, Express, Git, npm, CSS Grid & Flexbox, MongoDB, HTML5, jQuery, Gulp, Bootstrap, 
            | SQL and other web technologies.

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        ul
          li JavaScript
          li React
          li Node.js
          li Express
          li REST APIs
          li Git
          li HTML5
          li CSS
          li CSS Grid & Flexbox
          li jQuery
          li Bootstrap
          li MongoDB
          li Gulp

        h6 Contact Info
        ul
          li jordanmor@gmail.com
        a.button.expanded(href='https://www.linkedin.com/in/jordanmor/') LinkedIn
        a.button.expanded(href='https://github.com/jordanmor') GitHub
        a.button.expanded(href='https://twitter.com/imjordanmor') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back