extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        h1 Jordan Mor
        p.lead.text-light
          | Full Stack JavaScript Developer
          
        .portfolio-bio
          p
            | Hi! I'm a Web Developer pursuing a Full Stack Javascript Techdegree at Treehouse.<br>
            | I'm highly focused, enthusiastic, goal-driven, organized, analytical, creative 
            | and decisive with strong problem-solving capabilities and a wide range of skills. 
            | I'm reliable and adaptable with the ability to learn new systems quickly and take initiative. 
            | I take pride in achieving the best possible results and I continually strive 
            | to expand my professional knowledge and responsibilities.
          p
            | I'm currently working on multiple portfolio projects showing proficiency in JavaScript, 
            | React, Node.js, Express, Git, CSS Grid & Flexbox, MongoDB, HTML5, jQuery, Gulp, Bootstrap, 
            | SQL and other web technologies.

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        ul
          li Express
          li React
          li Node.js
          li JavaScript
          li CSS Grid & Flexbox
          li Git
          li MongoDB
          li jQuery
          li Gulp
          li HTML5
          li CSS
          li Bootstrap

        h6 Contact Info
        ul
          //- li 203-373-1243
          li jordanmor@gmail.com
        a.button.expanded(href='https://www.linkedin.com/in/jordanmor/') LinkedIn
        a.button.expanded(href='https://github.com/jordanmor') GitHub
        a.button.expanded(href='https://twitter.com/imjordanmor') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back