extends layout

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  .error
    h1= error.message
    h2= error.status
    p= error.stack
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back

