extends layout

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  .error
    h1 #{error.status} #{error.message}
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back

