extends layout.pug
include includes/mixins

block content 
  +article('Latest Projects', 'latest', 'latest')
  +article('Treehouse Full Stack JavaScript TechDegree Projects', 'treehouse', 'treehouse-techdegree')
  +article('Past Vanilla JavaScript/HTML/CSS Projects', 'past_projects', 'past-projects')
      
