extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div
      h1 My Portfolio
      p.lead.text-light
        | These portfolio projects are part of the Full Stack Javascript Techdegree program I am currently pursuing at Treehouse. They showcase my proficiency in JavaScript, React, Node.js, Express, Git, CSS Grid & Flexbox, MongoDB, HTML5, jQuery, Gulp, Bootstrap, SQL and other web technologies.
  
  article.grid-container.portfolio-index
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3

      each project in projects
        - const { id, project_name, image_urls } = project; 
        .cell
          a(href=`/projects/${id}`)
            img.thumbnail(src=`${image_urls[0]}`)
            h5= project_name
      
