<!DOCTYPE html>
html(class="no-js" lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Portfolio Site
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(rel='stylesheet', href='/static/css/foundation.css')
    link(rel='stylesheet', href='/static/css/style.css')
  body
    #my-info.off-canvas.position-left.reveal-for-large.portfolio-me(data-off-canvas='')
      .grid-y.grid-padding-x(style='height: 100%;')
        block sidebar
          br
          .cell.shrink
            img.thumbnail(src='/static/images/jordan-profile-pic.jpg')
          .cell.auto
            h5 Jordan Mor
            p.text-light
              | Hi! I'm a Web Developer pursuing a Full Stack Javascript Techdegree at Treehouse. I'm currently working on multiple portfolio projects showing proficiency in JavaScript, React, Node.js, Express, Git, CSS Grid & Flexbox, MongoDB, HTML5, jQuery, Gulp, Bootstrap, SQL and other web technologies.
            a(href='/about') Learn More →

    .off-canvas-content(data-off-canvas-content='')
      .title-bar.hide-for-large
        .title-bar-left
          button.menu-icon(type='button', data-toggle='my-info')

          span.title-bar-title Jordan Mor
      block content
        

      
  script(src='/static/js/vendor/jquery.js')
  script(src='/static/js/vendor/what-input.js')
  script(src='/static/js/vendor/foundation.js')
  script(src='/static/js/scripts.js')
