.portfolio-me,
.title-bar {
  background-color: #2c3e50; /* Midnight blue */
}

.portfolio-me p {
  color: #dadada;
}

.portfolio-me a {
  color: #777;
}

.portfolio-me a:hover {
  color: #aaa;
}

.portfolio-index .thumbnail {
  box-shadow: 0 9px 20px 5px rgba(0,0,0,.4);
  transition: transform .3s ease;
}

.portfolio-index .thumbnail:hover {
  transform: scale(1.03);
}

.portfolio-project .image {
  box-shadow: 0 9px 20px 5px rgba(0,0,0,.4);
}

.button {
  background-color: #2c3e50;
}