/* Changed background-color to midnight-blue */
.portfolio-me {
  background: #2c3e50;
}

/* Changed text color */
.portfolio-me p {
  color: #dadada;
}

/* Changed text color */
.portfolio-me a {
  color: #777;
}

.portfolio-me a:hover {
  color: #aaa;
}

/* Added box-shadow and transition transform to portfolio thumbnails */
.portfolio-index .thumbnail {
  box-shadow: 0 9px 20px 5px rgba(0,0,0,.4);
  transition: transform .3s ease;
}

.portfolio-index .thumbnail:hover {
  transform: scale(1.03);
}

 /* Changed box-shadow of portfolio images */
 .portfolio-project .image {
  box-shadow: 0 9px 20px 5px rgba(0,0,0,.4);
}