
h1,h2,h3,h4,h5,p{
  font-family: 'Merriweather', serif;
}

  h5{
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
  }

  h6{
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .9rem;
  }

  p{
    font-size: 15px;
    color: #666;
  }

.round{
  border-radius: 5px;
}

.text-light{
  color: #666;
}

.button {
  background-color: #2c3e50;
}

.button:hover{
  background-color: #111;
}

a{
  color: #333;
}

a:hover{
  color: #111;
}

.image{
  display: inline-block;
  max-width: 100%;
  margin-bottom: 1rem;
  border: solid 4px #fefefe;
  border-radius: 0;
  box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.2);
  line-height: 0;
}

.title {
  color: #2c3e50;
  font-size: 2.3rem;
}

.name {
  color: #2c3e50;
}

.lead {
  font-size: 1.15rem;
}

.portfolio-me,
.title-bar {
  background-color: #2c3e50; /* Midnight blue */
}

.portfolio-me{
  padding: 20px;
  color: #fff;
  box-shadow: none !important;
}

  .portfolio-me p{
    font-size: 14px;
    color: #dadada;
  }

  .portfolio-me a{
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: #777;
    font-size: 13px;
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
  }

  .portfolio-me a:hover{
    color: #aaa;
  }

.portfolio-breadcrumb{
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid #eaeaea;
}

 .portfolio-breadcrumb a{
   font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
   font-weight: 600;
   font-size: 13px;
   letter-spacing: 2.5px;
   -webkit-text-transform: uppercase;
   text-transform: uppercase;
 }

.portfolio-intro{
  margin: 0;
  padding: 40px 50px 20px;
}

.portfolio-index{
  margin: 0;
  padding: 10px 50px;
}

  .portfolio-index .thumbnail{
    margin-bottom: 12px;
    box-shadow: 0 9px 20px 5px rgba(0,0,0,.4);
    transition: transform .3s ease;
    border-radius: 4px;
  }

  .portfolio-index .thumbnail:hover {
    transform: scale(1.03);
  }

  .portfolio-index a{
    color: #222;
  }

  .portfolio-index .cell{
    margin-bottom: 15px;
  }

    .portfolio-index .cell h5{
      letter-spacing: 1px;
    }

.portfolio-meta{
  padding-left: 20px;
}

  .portfolio-meta .button{
    margin-bottom: 5px;
  }

.portfolio-project p{
  border: none;
}

.portfolio-project li{
  font-size: 13px;
  color: #444;
}

.portfolio-project .grid-x {
  margin-bottom: 1.5rem;
}

.portfolio-project .image {
  box-shadow: 0 9px 20px 5px rgba(0,0,0,.4);
  border-radius: 4px;
}

.portfolio-bio {
    line-height: 25px;
}

.portfolio-bio p {
  padding-bottom: 15px;
}

.sidebar-img {
  border-radius: 2px;
}

/* ----- Error Page ----- */

.error {
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.error p {
  width: 65%;
  margin-top: 1.4rem;
}